*,*::after,*::before{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Antic Slab', serif;
  height: 100%;
  width:100%;
}
body { 
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
